/*IMPORTAZIONE LIBRERIE*/
@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

/*COMMON*/

.color-green-1{
    color: #25ab94;
}

ul li{
    list-style-type: none;
}

.button-green {
    background-color: #25ab94;
    color: white;
  }

  .font-small-grey{ 
      color: #9ea4a5;
      font-size: 0.7rem;
  }

  .font-big-grey {
      color: #9ea4a5;
      font-size: 1rem;
      text-transform: uppercase;
  }

  .font-small-black{
      color: black;
      font-size: 0.7rem;
  }

  .font-big-black{
      color: black;
      font-size: 1rem;
  }