/*IMPORTAZIONE LIBRERIE*/
@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

/*COMMON*/
.color-light{
    color: #9ea4a5;
}

.color-green-1{
    color: #25ab94;
}

ul li{
    list-style-type: none;
}